<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Crosslight.Xamarin.Android.Support.v13" version="23.1.1" targetFramework="MonoAndroid403" />
  <package id="Crosslight.Xamarin.Android.Support.v4" version="23.1.1" targetFramework="MonoAndroid403" />
  <package id="WebSocketSharp" version="1.0.3-rc11" targetFramework="MonoAndroid403" />
  <package id="Xamarin.Android.Support.v4" version="23.1.1.0" targetFramework="MonoAndroid403" />
</packages>